In [ ]:
# for loop travell sequencially. it may travell in list,array,tuple etc

In [ ]:
structure:
for variable in list: # for is the key word and  variable will travel in the list
    #we can do operation with the variables
    print(variable)

In [2]:
#print every element of the list:[10,15,20,30]
list = [10,15,20,30]
for i in list:
    print(i)

10
15
20
30

In [4]:
# it would be a list fruit name wnd print every fruit
f_name = ['Apple','orrange','grave','Multa','Avocaddo']
for num in f_name:
    print(num)

Apple
orrange
grave
Multa
Avocaddo

In [5]:
#we can use forloop in tupple
tup = (1,2,3,4)
for n in tup:
    print(n)

1
2
3
4

In [6]:
#print the elements of the following list using a loop: [1,4,9,16,25,36,49,64,81,100]
list = [1,4,9,16,25,36,49,64,81,100]
for i in list:
    print(i)

1
4
9
16
25
36
49
64
81
100

In [11]:
#Search for a number x in this tuple using loop:(1,4,9,16,25,36,49,64,81,100)
x = 64
tup = (1,4,9,16,25,36,49,64,81,100,64)
indx = 1
for num in tup:
    if (num == x):
        print ('Number is found in index', indx)
    indx = indx + 1

Number is found in index 8
Number is found in index 11

In [12]:
#if we want to finisch thw loop just after founding the number once
x = 64
tup = (1,4,9,16,25,36,49,64,81,100,64)
indx = 1
for num in tup:
    if (num == x):
        print ('Number is found in index', indx)
        break
    indx = indx + 1

Number is found in index 8

In [17]:
# range() is a function which returns sequence of number. 
# it started from 0 and ended at one number before of providing number
#example range(10)
#for it will provide a sequence from 0 to 9
for i in range(10):
    print(i)
    #i += 1

0
1
2
3
4
5
6
7
8
9

In [18]:
#how many argument is passed in range() function?
#in range() function we can pass three argumnet range(start,stop,increment)
#for eample we will print the all even numbers which are in between 0 to 50
for i in range(2,50,2):
    print(i)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48

In [19]:
#similarly even numbers between 0 to 50
for i  in range(1,50,2):
    print(i)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49

In [ ]:
# If we pass just only one number in range() function, it will consider as stop number
# if provide two numbers, it will consider as start and stop

In [21]:
#by using range()function, print 1 to 100

for i in range(1,101,1):
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [25]:
#by using range()function, print 100 to 1
for i in range(100,0,-1):
    print(i)

100
99
98
97
96
95
94
93
92
91
90
89
88
87
86
85
84
83
82
81
80
79
78
77
76
75
74
73
72
71
70
69
68
67
66
65
64
63
62
61
60
59
58
57
56
55
54
53
52
51
50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1

In [20]:
#by using range function print a multiplication table for number 
x = 3
for i in range(11):
    mult = x * i
    print(mult)

0
3
6
9
12
15
18
21
24
27
30